<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="background-color:yellow; width:300px; height:600%; float:left">
        <ul>
            <li>
                <a href="empleados?Oficio=PRESIDENTE">PRESIDENTES</a>
            </li><br/>
             <li>
                <a href="empleados?Oficio=ANALISTA">ANALISTAS</a>
            </li><br/>
            <li>
                <a href="empleados?Oficio=EMPLEADO">EMPLEADOS</a>
            </li><br/>
            <li>
                <a href="empleados?Oficio=DIRECTOR">DIRECTORES</a>
            </li><br/>
            <li>
                <a href="empleados?Oficio=VENDEDOR">VENDEDORES</a>
            </li><br/>

        </ul>
    </div>

  </body>

</html>